@model PacienteViewModel

@if (Model.Diarios == null || Model.Diarios.Count == 0)
{
    <h6>Não há diários cadastrados.</h6>
}
else
{
    <table class="table table-default table-responsive-xl table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Diarios[0].Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diarios[0].TreinoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diarios[0].Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diarios[0].DataCadastro)
                </th>
                <th width="1%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Diarios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Treino.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td class="btn-group">
                        <a asp-action="Details" asp-controller="DiariosPacientes" asp-route-id="@item.Id" class="table-default-btn text-info" title="Detalhar"><span class="fa fa-search"></span></a>
                        <a supress-by-action="Details" asp-action="Delete" asp-controller="DiariosPacientes" asp-route-id="@item.Id" class="table-default-btn text-danger" title="Remover"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
